* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to top left, #264535, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  /* width: 100%; */
  max-width: 500px;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}
h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.form-group input {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1rem;
}

.form-group input::placeholder {
  color: #eee;
}

.form-group input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid #fff;
}
.form{
      width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1rem;
}
.form .first{
    margin-left: 40px;
    background-color: #22b383;
}

.submit {
    width: 50%;
    height: 30px;
    margin-left: 75px;
    margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
 color: white;
  font-weight: bold;
  transition: 0.3s ease;
  cursor: pointer;
}

.submit:hover {
  background-color: #22b383;
  color: white;
}

